.idea
.env
.DS_Store
/vendor
/node_modules
/public/hot
/public/storage
/public/dist
/storage/*.key
/storage/debugbar/
/storage/app/
/storage/logs/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.docker/mysql/data
